/* styles.css */

/* Reset some default browser styles */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* Basic styling for the app */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.result-item {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 20px);
}

.add-to-favorites {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.add-to-favorites:hover {
  background-color: #0056b3;
}

.movie-page {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie-details {
  display: flex;
  align-items: center;
}

.movie-poster img {
  max-width: 100%;
  height: auto;
}

.movie-info {
  margin-left: 20px;
}

#favorites {
  background-color: #333;
  color: white;
  padding: 20px;
  min-width: 250px;
}

#favorites h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

#favoritesList {
  list-style: none;
  padding: 0;
}

#favoritesList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #555;
}

.remove-from-favorites {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 2px 5px;
  border-radius: 4px;
  cursor: pointer;
}

.remove-from-favorites:hover {
  background-color: #c9302c;
}


#homeButton {
  text-decoration: none;
  color: white;
  font-size: 24px;
  margin-right: 20px;
  cursor: pointer;
}

#homeButton:hover {
  text-decoration: underline;
}

